html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: sans-serif;
  overflow: hidden;
}

img, div {
  -webkit-user-drag: none;
  user-select: none;
}
